{% load static %}
{% load sass_tags %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'menu/style.css' %}" rel="stylesheet">
    <link href="{% sass_src 'menu/scss/button.scss' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto" href="{% url 'menu:item' %}">
          <img src="{% static 'menu/images/50amigos-logo.png' %}" alt="50amigos logo" height=50 width=70>
            Menú
          <img src="{% static 'menu/images/50amigos-logo.png' %}" alt="50amigos logo" height=50 width=70>
        </a>
        {% if show_categories %}
          <a href="{% url 'cart:cart_detail' %}">
            <img src="{% static 'menu/images/cart.svg' %}" alt="cart logo" class="filter-white" height=40 width=40>
          </a>
        {% endif %}

        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Opciones</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <a class="nav-link active" aria-current="page" href="#">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>

    {% if show_categories %}
      <div class="btn-group d-flex" role="group" aria-label="...">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Entradas</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Platos principales</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Bebidas</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">Postres</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" disabled>
        <label class="btn btn-outline-primary" for="btnradio5">Helados</label>
      </div>
    {% endif %}

    <div id="content">
      {% block content%}
      {% endblock %}
    </div>
  </body>
</html>
