{% extends "menu/base.html" %}

{% block content%}
  {% if dish_list %}
      <ul>
      {% for dish in dish_list %}
        <div class="card" style="width: 18rem;">
          <img src="{{ dish.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ dish.name }}</h5>
            <p class="card-text">{{ dish.description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No menus are available.</p>
  {% endif %}
{% endblock %}
